[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[clean]
    #`git clean` removes any untracked files, but it requires a superfluous
    # -f flag to do anything.
	requireForce = false
[log]
    #Show tags and branches associated with the commits
	decorate = true
    #Show commit hashes in 8-char short form
	abbrevCommit = true
[core]
    #Custom extra gitignore rules
    excludesfile = ~/.gitignore
[push]
    #Unless otherwise specified, push the current branch to its identically-
    # named remote counterpart
    default = current
[alias]
    #Print out the branch tree
    graph = log --graph --oneline
