configuration {
  font: "Monofur Nerd Font Bold 17";
  combi-modi: "window,drun,run,ssh";
  show-icons: true;
  theme: "darkgreen";
  terminal: "kitty";
  run-shell-command: "{terminal} --hold {cmd}";
}
